    <h1>Routing Example!</h1>
    <h3>This page was routed using the normal routing module</h3>
    <h3>Below is a link which will take you to "firstchild" that will be routed using a different module.</h3>
    <h3> "child-ex.routing.module.ts"</h3>
    <h3>**In app.module.ts make sure you load the new routing modules before app-routing.module!</h3>
    <div>
      <ul>
        <li class="childroute" routerLinkActive="acive"><a routerLink="/childroute">Child Route</a></li>
      </ul>
      <router-outlet ></router-outlet>
    </div>
