  <header>
    <div class="nav">
      <ul>
        <li class="Components" routerLinkActive="acive"><a routerLink="/components">Components</a></li>
        <li class="Styling" routerLinkActive="active"><a  routerLink="/styles">Styling</a></li>
        <li class="Routing"><a href="#">Routing</a></li>
        <li class="Testing"><a href="#">Testing</a></li>
        <li class="Lazy Loading"><a href="#">Lazy Loading</a></li>
      </ul>
    </div>
    <router-outlet></router-outlet>
  </header>
  <br>
  <br>
  <br>

