  <header>
    <div class="nav">
      <ul>
        <li class="Home" routerLinkActive="acive"><a routerLink="/home">Home</a></li>
        <li class="Components" routerLinkActive="acive"><a routerLink="/components">Components</a></li>
        <li class="Styling" routerLinkActive="active"><a  routerLink="/styles">Styling</a></li>
        <li class="Routing" routerLinkActive="active"><a routerLink="/routing">Routing</a></li>
        <li class="Observs" routerLinkActive="active"><a routerLink="/observs">Observs</a></li>
        <li class="Testing" routerLinkActive="active"><a routerLink="/testing">Testing</a></li>
        <li class="Lazy Loading" routerLinkActive="active"><a routerLink="/lazyrouter">lazyrouter</a></li>
      </ul>
    </div>
  </header>
  <br>
  <router-outlet></router-outlet>

  

