<h1>This is the Styles example page!</h1>
<h2>3 high levels of styling placements</h2>
<ul class='font-styling'>
    <li>App.Module or the Global</li>
    <li>Shared.Module which would be the features you use across majority of the application</li>
    <li>Feature Module which will bundled components of common features for a given task</li>
</ul>

<div class='font-styling'> 
<p>You can structure your CSS or SCSS based on where the style fits into your project </p>
<p>For example, if it is a common style that is mandatory across the project then you can place</p>
<p>this in your app.module level css or in the shared.module css.</p>
<p>You can go into the component level css when it is a one of style that you don't want polluting</p>
<p>your project elsewhere.</p>
<br>
<p>If you find that a style is now needed higher up the chain then you promote that style upwards.</p>
<p>A component level style can go to feature, then shared and all the way to app level if needed.</p>
</div>