<h1>What I learned during NgConf 2017! -HUGE WIP</h1>
<br>
<div>
<p>Each tab explains a different concept or idea learned at Ngconf.
The words will describe what is happening then you can dive into</p>
<p>the code to check out what is happening behind the scenes.</p>
<br>
<h2>If you are veiwing this from a remote site then first step:</h2>
<p>Go to <a href="https://github.com/CharlesSinde/NgConf2017">https://github.com/CharlesSinde/NgConf2017 </a>  to clone the repo.
Next run a "npm install npm" in the project folder.</p>
<p>Ng serve in cmd while under the NgConf2017 folder.
*Note: make sure to have node 6.10 or higher and CLI 1.0.0 or higher</p>
<h2>Special Thanks to the following experts who helped me!</h2>
<p>John Papa :<a href="https://github.com/johnpapa/angular-event-view-cli">https://github.com/johnpapa/angular-event-view-cli</a> </p>
<p>Dan Wahlin :<a href=" https://github.com/DanWahlin/Angular-BareBones "> https://github.com/DanWahlin/Angular-BareBones </a> </p>
<p>Justin Schwartzenberger: <a href="https://github.com/ocombe">https://github.com/ocombe </a></p>
<p>Justin Searls:<a href="https://github.com/ocombe"> https://github.com/ocombe</a></p>
<p>Oliver Combe:<a href="https://github.com/ocombe"> https://github.com/ocombe </a></p>
</div>